/* 
    Document   : chart
    Created on : 17-04-2013, 08:24:45 PM
    Author     : 17705280
    Description:
        Purpose of the stylesheet follows.
*/
.chart{
    -fx-padding: 40px; 
   
}

.chart-content{
    
    
}

.chart-legend{
    
}

